<script>
  import { Link } from "svelte-routing";
  import { Datatable, rows } from 'svelte-simple-datatables'

  import Box from "../components/Box.svelte";
  import CardStack from "../components/cardStack.svelte";
  import Dropdown from "../components/Dropdown.svelte";
  import Menu from "../components/Menu.svelte";
  import SubMenu from "../components/SubMenu.svelte";
  import MenuItem from "../components/MenuItem.svelte";

  import { userstate } from '../stores/userstate.js';
  import { logEntries } from '../stores/data.js';

  const settings = { columnFilter: true }

	let projects = [
		{ name: "Brurberg", website: "brurberg.no", priv: true, activ: true },
		{ name: "Brurberg Auth", website: "auth.brurberg.no", priv: true, activ: true },
		{ name: "Brurberg Log", website: "log.brurberg.no", priv: true, activ: true },
		{ name: "Brurberg Statistics", website: "stats.brurberg.no", priv: true, activ: false },
		{ name: "Visdomsdialog", website: "visdomsdialog.one", priv: false, activ: true },
		{ name: "Backup", website: "backup.brurberg.no", priv: true, activ: false },
		{ name: "Storage", website: "storage.brurberg.no", priv: true, activ: false },
		{ name: "Seed Hunt", website: "seedhunt.net", priv: false, activ: true }
	];

  //$: console.log($logEntries)
</script>

  <div class="content flex">
    <div class="item">
	 	   <h2>Welcome to log.Brurberg.no</h2>
	 	   <p>Here you will find logs from all the brurberg services.</p>
    </div>
    <div class="new_line"/>
    <div class="item">
      <Box>
        <h3>Overview of this page</h3>
        <pre>This page is currently work in progress.
Curently there will only be simple information here with minimal connectivity. This is simply the beginning. Please play around with the interface.

In the future there should be interfaces for each customer to see information relevant to them. When submitting issue reports, please consider using some of the keywords or information found here.</pre>
      </Box>
    </div>
    <div class="item">
      <h1 style="margin-bottom: 0;">Projects</h1>
      <table class="elevate">
        <thead>
          <tr>
            <th style="width: 35%;"><span>Name</span></th>
            <th style="width: 35%;"><span>Website</span></th>
            <th style="width: 15%;"><span>Priv</span></th>
            <th style="width: 15%;"><span>Activ</span></th>
          </tr>
        </thead>
        <tbody>
          {#each projects as project}
          <tr>
            <td>{project.name}</td>
            <td><a href="https://{project.website}">{project.website}</a></td>
            <td>{project.priv ? "YES" : "NO"}</td>
            <td>{project.activ ? "YES" : "NO"}</td>
          </tr>
          {/each}
        </tbody>
      </table>
    </div>
    {#if $userstate && $userstate.authorized && $logEntries}
    <hr>
    <h2>LOGS</h2>
    <div class="new_line"/>
    <div class="large_item">
      <Datatable settings={settings} data={$logEntries}>
        <thead>
          <th data-key="domain">Domain</th>
          <th data-key="level">Level</th>
          <th data-key="context">Context</th>
          <th data-key="message">Message</th>
          <th data-key="error_time">Error time</th>
        </thead>
        <tbody>
          {#each $rows as row}
          <tr>
            <td class="data">{row.domain}</td>
            <td class="data">{row.level}</td>
            <td class="data">{row.context}</td>
            <td class="data">{row.message}</td>
            <td class="data">{row.error_time}</td>
          </tr>
          {/each}
        </tbody>
      </Datatable>
    </div>
    {/if}
    <div class="new_line" style="padding-top: 1.5em;"/>
  </div>

<style>
  h3 {
    text-align: left;
  }
  hr {
    width: 100%;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
  	display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
		color: rgba(0,0,0,.12);
	}
  .content {
		position: relative;
		max-width: 1270px;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 45%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .large_item {
    flex: 0 0 100%;
    width: 100%;
    height: 50em;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }
  .data {
    text-align:center;
    padding:4px 0;
  }

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
thead tr:last-child th {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}
thead tr:last-child th, tbody tr:not(:last-child) td {
	border-bottom: thin solid rgba(0,0,0,.12);
}

img {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
}

</style>
